.header-container {
     position: relative;
     text-align: center;
     
   }
   
   /* Bottom left text */
   /* Centered text */
   .centered {
        font-family: serif;
       text-shadow: darkolivegreen;
       color:rgb(247, 247, 247);
     position: absolute;
     top: 60%;
     left: 40%;
     transform: translate(-50%, -50%);
   }